---
// helper
const formatNumber = (n: number | undefined | null) =>
  n?.toLocaleString("de-CH") ?? "N/A";

const formatDate = (dateStr?: string) => {
  const date = dateStr ? new Date(dateStr) : new Date();
  return (
    date.toLocaleString("default", { month: "short" }) +
    " " +
    date.getUTCDate() +
    ", " +
    date.getFullYear()
  );
};

const stats = [
  {
    value: formatNumber(39037528),
    label: "crystal structures*",
    description: `downloadable from the <br /><a href="https://archive.materialscloud.org/">Materials Cloud Archive</a>`,
  },
  {
    value: formatNumber(13775215),
    label: "structures",
    description: `in the <a href="https://archive.materialscloud.org/">Materials Cloud Archive</a><br/>with associated DFT SCF calculations`,
  },
  {
    value: formatNumber(4778096),
    label: "data and calculation nodes",
    description: `in the <a href="https://materialscloud.org/explore/menu">Explore section</a>,<br />with full AiiDA provenance`,
  },
  {
    value: formatNumber(1009362),
    label: "reproducible calculations",
    description: `in the <a href="https://materialscloud.org/explore/menu">Explore section</a>,<br />with full AiiDA provenance`,
  },
];

const charts = [
  {
    title: "Materials Cloud all",
    src: "images/plausible/mc_all_barchart_10_10_2025.png",
    alt: "Monthly visits",
  },
  {
    title: "Materials Cloud all",
    src: "images/plausible/mc_all_pie_10_10_2025.png",
    alt: "Visits by country",
  },
  {
    title: "Materials Cloud archive",
    src: "images/plausible/mc_archive_barchart_10_10_2025.png",
    alt: "Archive monthly visits",
  },
  {
    title: "Materials Cloud archive",
    src: "images/plausible/mc_archive_pie_10_10_2025.png",
    alt: "Archive visits by country",
  },
];

const archiveDate = formatDate("2024-10-10");
const imageStyle = "w-full max-h-72 object-contain";
---

<div id="statistics" class="space-y-2 pb-6">
  <div class="space-y-6">
    <h3 class="text-center">Materials Cloud statistics</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        stats.map((stat) => (
          <div class="text-center">
            <h3 class="text-2xl font-bold">{stat.value}</h3>
            <h4 class="text-base font-medium">{stat.label}</h4>
            <p class="text-gray-900" set:html={stat.description} />
          </div>
        ))
      }
    </div>

    <p class="text-gray-600 text-sm leading-relaxed text-center">
      Results based on records published on Materials Cloud Archive before {
        archiveDate
      }
      <br />
      *Structures counted with an automated script, no check for duplicates has been
      performed
    </p>

    <div class="text-center space-y-2 pt-5">
      <h4 class="text-lg font-medium">
        Number of unique page visits per month and per country<br />
        (last update Oct 10, 2025)
      </h4>
      <div class="text-sm text-gray-600">
        Materials Cloud uses <a
          href="https://plausible.io/data-policy"
          target="_blank">Plausible</a
        > to count its pages views without tracking users or storing cookies.
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 px-2 gap-x-4">
      {
        charts.map((chart) => (
          <div class="flex flex-col items-center">
            <span class="mb-0 text-center text-lg text-gray-700">
              {chart.title}
            </span>
            <img class={imageStyle} src={chart.src} alt={chart.alt} />
          </div>
        ))
      }
    </div>
  </div>
</div>
