---
import Layout from "@layouts/Layout.astro";
import LearnBannerList from "@components/LearnBannerList.astro";
import SquareButton from "@components/SquareButton.astro";

import fs from "fs";
import yaml from "js-yaml";

const breadcrumbs = [{ name: "Learn", href: "learn" }];

const file = fs.readFileSync("./src/data/learn-topsections.yml", "utf8");
const data = yaml.load(file);

// learn external buttons
const learnButtons = [
  {
    href: "https://www.lhumos.org/",
    img: "images/logos/lhumos_temp.png",
    title: "Lhumos",
    subtitle: "Learning Hub for Modelling and Simulation",
  },
  {
    href: "https://www.osscar.org/",
    img: "images/osscar-logo.svg",
    title: "OSSCAR",
    subtitle: "Open Software Services for Classrooms and Research",
  },
];
---

<Layout breadcrumbs={breadcrumbs} title="Learn">
  <div class="space-y-10">
    <section class="space-y-4">
      <h3 class="text-2xl">Associated educational platforms</h3>
      <hr class="border-t border-gray-300 mb-6" />

      <div
        class="grid w-3/5 mx-auto gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 justify-center"
      >
        {
          learnButtons.map((btn) => (
            <SquareButton
              href={btn.href}
              img={btn.img}
              title={btn.title}
              subtitle={btn.subtitle}
            />
          ))
        }
      </div>
    </section>

    {/*  heading */}
    <section class="flex mb-4">
      <h3 class="text-2xl">Materials Cloud legacy learn</h3>
    </section>

    <hr class="border-t border-gray-300 mb-6" />
  </div>

  <p class="px-2 pb-2 italic text-gray-700">
    The Materials Cloud Learn has entered an archival state. All new content
    will be added to the Lhumos platform instead.
  </p>

  <p class="px-2 pb-2">
    Lecture recordings and video tutorials on computational materials science
    for students and experts alike. You can find more videos on the <a
      href="https://www.youtube.com/materialscloud"
      target="_blank"
      >Materials Cloud Youtube channel.
    </a>
  </p>

  <LearnBannerList entries={data.entries} rootPath="learn/sections" />
</Layout>
