---
// some discover sections do not have the iframe resizer script...
// additionally some content is outside of the iframe...
// for now ive added a new flag in the yaml called accordions?
// a unified understanding of what iframed content looks like would be nice;

import Layout from "@layouts/Layout.astro";

import fs from "fs";
import yaml from "js-yaml";

export async function getStaticPaths() {
  const file = fs.readFileSync("./src/data/discover.yml");
  const discover = yaml.load(file);
  const alldiscover = [
    ...discover.menu.main_discover,
    ...discover.menu.contributed_discover,
  ];
  // Filter iframe discover:
  const iframediscover = alldiscover
    .filter((discover) => discover.iframe === true);

  return iframediscover.map((discover) => ({
    params: { iframe: discover.link },
    props: { discover },
  }));
}

const { discover: page } = Astro.props;

const breadcrumbs = [
  { name: "Discover", href: "discover" },
  { name: page.title, href: `discover/${page.link}` },
];

const accordionContainerStyle =
  "group w-full max-w-3xl mx-auto  mb-1 border border-gray-300 rounded shadow-md overflow-hidden";

const accordionTitleStyle =
  "flex items-center justify-between px-2 py-1 cursor-pointer bg-[#007fff] text-white " +
  "hover:bg-[#449fff] group-open:bg-gray-200 group-open:text-black";

const accordionContentStyle =
  "px-3 py-0 bg-slate-50 text-gray-700 max-h-0 opacity-0 overflow-hidden " +
  "transition-all duration-500 ease-in-out group-open:max-h-[1000px] group-open:opacity-100 group-open:py-2";
---

<Layout
  breadcrumbs={breadcrumbs}
  title={page.title}
  maxWidth={page.iframe_maxWidth}
>
  <section class="space-y-4">
    <div class="flex items-center flex-wrap gap-2">
      <h3 class="text-2xl">{page.title}</h3>
      {
        page.doi &&
          page.doi.map((doi) => (
            <span class="doi-badge">
              <span class="doi-left">DOI</span>
              <a href={`https://doi.org/${doi}`} class="doi-right">
                {doi}
              </a>
            </span>
          ))
      }
    </div>
    <hr class="border-t border-gray-300 mb-4" />

    <div class="">
      {page.description}
    </div>

    {
      page.accordions?.map((accordion, index) => (
        <details class={accordionContainerStyle} key={index}>
          <summary class={accordionTitleStyle}>
            {accordion.title}
            <span class="transition-transform duration-300 group-open:rotate-90">
              ▶
            </span>
          </summary>
          <div class={accordionContentStyle} set:html={accordion.content} />
        </details>
      ))
    }
    <div class="pt-12">
      <iframe
        id="contentiframe"
        class="w-full"
        src={page.iframe_src}
        height={page.iframe_height}
        allowfullscreen></iframe>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/iframe-resizer/js/iframeResizer.min.js"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        iframeResize(
          {
            license: "GPLv3",
            checkOrigin: false,
            log: true,
            heightCalculationMethod: "taggedElement",
            inPageLinks: true,
            minHeight: "100px",
          },
          "#contentiframe"
        );
      });
    </script>
  </section>
</Layout>
