---
/**
 * Common banner component used to turn build banners from array
 *
 * Props:
 * - entries: Array of items with:
 *   - link: URL or relative path (external links open in new tab)
 *   - title: Text shown as the banner link
 *   - author (optional): Text shown next to the author section
 *   - description (optional): Text shown next to the description heading.
 * - rootPath: Base path for internal links
 */

// TODO - switch <img/> to <Image/> .astro built in for optimisation?
const { entries, rootPath } = Astro.props;
---

<div class="entries-container">
  {
    entries.map((entry) => (
      <div class="entry-container">
        <div class="entry-flex">
          <a
            href={
              entry.link.startsWith("http")
                ? entry.link
                : `${rootPath}/${entry.link}`
            }
          >
            <img
              src={`images/logos/${entry.logo}`}
              alt={entry.title}
              class="entry-image"
              loading="lazy"
              decoding="async"
            />
          </a>
        </div>
        <div class="entry-info-container">
          <div class="flex items-center flex-wrap">
            <a
              href={
                entry.link.startsWith("http")
                  ? entry.link
                  : `${rootPath}/${entry.link}`
              }
              class="entry-title"
            >
              {entry.title}
            </a>
            {entry.doi &&
              entry.doi.map((doi) => (
                <span class="doi-badge">
                  <span class="doi-left">DOI</span>
                  <a href={`https://doi.org/${doi}`} class="doi-right">
                    {doi}
                  </a>
                </span>
              ))}
          </div>
          {entry.authors && (
            <div class="entry-author">
              <b>Authors:&nbsp;</b>
              {entry.authors}
            </div>
          )}

          {entry.description && (
            <div class="entry-description">
              <b>Description: </b>
              <span set:html={entry.description} />
            </div>
          )}
        </div>
      </div>
    ))
  }
</div>
