---
import Layout from "@layouts/Layout.astro";
import { ENV } from "../../config/env";
import { AiidaExplorerWrapper } from '../../components/AiidaExplorerWrapper.jsx';


import fs from "fs";
import yaml from "js-yaml";

// build urls
export async function getStaticPaths() {
  const file = fs.readFileSync("./src/data/explore.yml", "utf8");
  const data = yaml.load(file);
  const profiles = data.profiles;

  return profiles.map((profile) => ({
    params: { profile: profile.link },
    props: { profile },
  }));
}

const { profile } = Astro.props;

const breadcrumbs = [
  { name: "Explore", href: "explore" },
  { name: profile.title, href: `explore/${profile.link}` },
];
---

<Layout
  title={`Explore: ${profile.link}`}
  breadcrumbs={breadcrumbs}
  maxWidth="max-w-full"
  padding=""
>
  <div class="space-y-10">
    <div class="px-4 py-4 m-0">
      <h3 class="text-xl">AiiDA profile: {profile.title}</h3>
      {
        profile.doi &&
          profile.doi.map((doi) => (
            <span class="doi-badge">
              <span class="doi-left">DOI</span>
              <a href={`https://doi.org/${doi}`} class="doi-right">
                {doi}
              </a>
            </span>
          ))
      }
    </div>
    <div class="h-[calc(100vh-224px)] min-h-[400px]">
      <AiidaExplorerWrapper client:only="react"
        restApiUrl=`${ENV.HOST_AIIDA}${profile.rest_url}`
      />
    </div>
  </div>
</Layout>